<% content_for :header do %>
	Analytics
<% end%>

<div>
	<%@shortened_urls.each do |url|%>
		<strong><%= url.original_url%></strong>
		<div>
			<%= full_url(url.short_url)%>				
		</div>

		<br/>

		<div>Total Clicks: <%= url.url_activities.count %></div>
		<div>Top countries: <%= url.top_five_countries.join(", ")%></div>
		<hr>
	<%end%>
</div>